.Header {
    position: fixed;
    top:0px;
    height: 8vh;
    width: 100vw;
    background-color:red;
    margin:0px 0px 30px 0px;

} 

ul{
    display: flex;
    margin-left: 40px;
}

ul li{
    margin-left: 200px;
}
li{
    list-style-type: none;
}
a{
    size:30px;
    
    text-decoration: none;
}

.active{
    color:white
}